# Virtual environment
venv/
env/

# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
*.sqlite3

# Logs
*.log

# Local settings
local_settings.py

# IDE-specific files
.vscode/
.idea/

# Django migration files
/migrations/

# Django static and media files
/static/
/media/

# Environment variables
.env

# Compiled Python files
*.pyc

